In [6]:
import requests
import json
import pandas as pd
from yandex_music import Track, Client

In [7]:
def get_data_from_file(file):
    with open(file, "r") as f:
        data = json.load(f)['trackIds']
        for i in range(len(data)):
            if ':' in str(data[i]):
                data[i] = data[i].split(':')[0]
            data[i] = int(data[i])
        return data

In [8]:
def link_two_dbs(a, b):
    i = 0
    while i < len(a):
        j = i
        k = 0
        while True:
            if j == len(a):
                return a + b[k:]
            if k == len(b):
                return a
            if a[j] != b[k]:
                break
            j += 1
            k += 1
        i += 1
    return a + b

In [9]:
def link_data(data):
    result = list(reversed(data[0]))
    i = 1
    while i < len(data):
        result = link_two_dbs(result, list(reversed(data[i])))
        i += 1
    return result

In [22]:
def link_files(files):
    data = []
    count = 0
    for file in files:
        filedata = get_data_from_file(file)
        data.append(filedata)
        count += len(filedata)
    linked = link_data(data)
    print("Recieved {} lines of raw data, cutted {} duplicates\n\
Total {} lines ready for analysis".format(count, count-len(linked), len(linked)))
    return linked

In [23]:
# OREDERED BY TIME datafiles
CACHED_DATA = [
    "sample_data/data14.07.2021.json",
    "sample_data/data22.09.2021.json",
    "sample_data/data31.01.2022.json",
    "sample_data/data13.07.2022.json",
    "sample_data/data25.07.2022.json"    
]

In [24]:
data = link_files(CACHED_DATA)

Recieved 18992 lines of raw data, cutted 8816 duplicates
Total 10176 lines ready for analysis

In [9]:
len(data)

10176

In [16]:
def form_dataframe(data):
    df = pd.DataFrame({'id' : data, 'count' : 1})
    df = df.groupby(by='id').count().reset_index()
    client = Client()
    df['data'] = client.tracks(df['id'])
    df['name'] = ""
    df['artist'] = ""
    
    pd.options.mode.chained_assignment = None
    for i in range(len(df)):
        df['name'][i] = df['data'][i]['title']
        try:
            df['artist'][i] = df['data'][i]['artists'][0]['name']
            for artist in df['data'][i]['artists'][1:]:
                df['artist'][i] += ", " + artist['name']
        except IndexError as e:
            df['artist'][i] = "Unknown"
    
    
    df = df.sort_values(['count'], ascending=False)
    df = df.reset_index()
    
    return df

In [17]:
df = form_dataframe(data)

In [18]:
df

,index,id,count,data,name,artist
0,1357,62556361,299,"{'id': '62556361', 'title': 'Марафоны', 'avail...",Марафоны,"Три дня дождя, Роки"
1,1806,80328592,160,"{'id': '80328592', 'title': 'Фьюче симпл', 'av...",Фьюче симпл,Narkomfin
2,1310,61209859,135,"{'id': '61209859', 'title': 'Красота', 'availa...",Красота,Три дня дождя
3,1764,78786629,113,"{'id': '78786629', 'title': 'Обсудим за столом...",Обсудим за столом,plagueinside
4,1315,61563837,113,"{'id': '61563837', 'title': 'Конфетти', 'avail...",Конфетти,Port Avenue
...,...,...,...,...,...,...
2186,871,39980101,1,"{'id': '39980101', 'title': 'Взрывая тишину', ...",Взрывая тишину,Коrsика
2187,868,39915054,1,"{'id': '39915054', 'title': 'Eleanor Rigby', '...",Eleanor Rigby,The Beatles
2188,865,39843915,1,"{'id': '39843915', 'title': 'before I close my...",before I close my eyes,XXXTentacion
2189,864,39843905,1,"{'id': '39843905', 'title': 'NUMB', 'available...",NUMB,XXXTentacion
2190,2190,105837876,1,"{'id': '105837876', 'title': 'Конечная станция...",Конечная станция,Markul

In [19]:
def print_to_file(df, file="result.txt"):
    with open(file, 'w') as f3:
        for i in range(len(df)):
            f3.write("{0:<5} {1} - {2}\n".format(df['count'][i], df['artist'][i], df['name'][i]))

In [20]:
print_to_file(df)

In [21]:
df.head(60)

,index,id,count,data,name,artist
0,1357,62556361,299,"{'id': '62556361', 'title': 'Марафоны', 'avail...",Марафоны,"Три дня дождя, Роки"
1,1806,80328592,160,"{'id': '80328592', 'title': 'Фьюче симпл', 'av...",Фьюче симпл,Narkomfin
2,1310,61209859,135,"{'id': '61209859', 'title': 'Красота', 'availa...",Красота,Три дня дождя
3,1764,78786629,113,"{'id': '78786629', 'title': 'Обсудим за столом...",Обсудим за столом,plagueinside
4,1315,61563837,113,"{'id': '61563837', 'title': 'Конфетти', 'avail...",Конфетти,Port Avenue
5,1869,83950827,111,"{'id': '83950827', 'title': 'Перезаряжай', 'av...",Перезаряжай,Три дня дождя
6,1625,73062356,104,"{'id': '73062356', 'title': 'Одиночество', 'av...",Одиночество,QWAZAR
7,2038,91677671,101,"{'id': '91677671', 'title': 'Cuba Libre', 'ava...",Cuba Libre,Markul
8,952,42940850,84,"{'id': '42940850', 'title': 'Худший друг', 'av...",Худший друг,Markul
9,2013,90805155,82,"{'id': '90805155', 'title': 'В глаза', 'availa...",В глаза,Port Avenue
10,1873,83950833,79,"{'id': '83950833', 'title': 'В кого ты влюблен...",В кого ты влюблена,Три дня дождя
11,1880,84034261,78,"{'id': '84034261', 'title': 'По стилям', 'avai...",По стилям,Port Avenue
12,1872,83950830,76,"{'id': '83950830', 'title': 'Отражения', 'avai...",Отражения,Три дня дождя
13,1950,87691207,73,"{'id': '87691207', 'title': 'Цветы', 'availabl...",Цветы,Port Avenue
14,1915,86181200,73,"{'id': '86181200', 'title': '1000-7', 'availab...",1000-7,fem.love
15,1658,73557327,73,"{'id': '73557327', 'title': 'Да что романтично...",Да что романтичного в птичках?,pyrokinesis
16,1733,77386075,69,"{'id': '77386075', 'title': 'Что ни день, то н...","Что ни день, то новость",plagueinside
17,1687,74726956,65,"{'id': '74726956', 'title': 'Мечта', 'availabl...",Мечта,Port Avenue
18,1088,50384813,65,"{'id': '50384813', 'title': 'В моей голове', '...",В моей голове,saypink!
19,1276,59826235,63,"{'id': '59826235', 'title': 'Ветер перемен', '...",Ветер перемен,Asper X
20,1848,83389814,60,"{'id': '83389814', 'title': 'Любовь на нож', '...",Любовь на нож,"katanacss, aikko"
21,1184,55599744,59,"{'id': '55599744', 'title': 'Экстрасекс', 'ava...",Экстрасекс,FIZICA
22,2113,100087265,58,"{'id': '100087265', 'title': 'WARLORD', 'avail...",WARLORD,Джизус
23,1641,73375339,57,"{'id': '73375339', 'title': 'Фудзи. Извержение...",Фудзи. Извержение,playingtheangel
24,1847,83389813,54,"{'id': '83389813', 'title': 'Русский сериал', ...",Русский сериал,katanacss
25,1921,86571288,53,"{'id': '86571288', 'title': 'Последнее письмо ...",Последнее письмо к Ленор,VULPES VULT!
26,1998,90380437,52,"{'id': '90380437', 'title': 'i remember', 'ava...",i remember,bbno$
27,1473,66496246,51,"{'id': '66496246', 'title': 'Мерзость', 'avail...",Мерзость,INSPACE
28,2093,97408768,50,"{'id': '97408768', 'title': 'Смелость', 'avail...",Смелость,ЖЩ
29,1688,74834543,49,"{'id': '74834543', 'title': 'С рождеством', 'a...",С рождеством,INSPACE
30,1160,53527107,48,"{'id': '53527107', 'title': 'ломки', 'availabl...",ломки,katanacss
31,805,38080593,47,"{'id': '38080593', 'title': 'Neurotoxin', 'ava...",Neurotoxin,DEEP-EX-SENSE
32,1995,90299351,45,"{'id': '90299351', 'title': 'Аэропорты', 'avai...",Аэропорты,Роки
33,1320,61737606,44,"{'id': '61737606', 'title': 'Не солнышко свети...",Не солнышко светит,Роки
34,1610,72561872,44,"{'id': '72561872', 'title': 'Ла-Ла Лэнд', 'ava...",Ла-Ла Лэнд,МОЛОДОСТЬ ВНУТРИ
35,1467,66496239,43,"{'id': '66496239', 'title': 'Кроме твоего лица...",Кроме твоего лица,"Три дня дождя, INSPACE"
36,2118,100902601,40,"{'id': '100902601', 'title': 'Дивный новый мир...",Дивный новый мир,"VULPES VULT!, Port Avenue"
37,1390,63745235,39,"{'id': '63745235', 'title': 'Дурак', 'availabl...",Дурак,Радиопомехи
38,1176,55049473,39,"{'id': '55049473', 'title': 'Веснушки', 'avail...",Веснушки,NЮ
39,1157,53499435,38,"{'id': '53499435', 'title': 'Bad Trip', 'avail...",Bad Trip,Asper X
40,1854,83508026,38,"{'id': '83508026', 'title': 'Вода', 'available...",Вода,Три дня дождя
41,807,38255119,38,"{'id': '38255119', 'title': 'Рубежи', 'availab...",Рубежи,Коrsика
42,1451,66144043,37,"{'id': '66144043', 'title': 'Хит', 'available'...",Хит,FIZICA
43,2026,91471183,37,"{'id': '91471183', 'title': 'GERONIMO', 'avail...",GERONIMO,IVOXYGEN
44,1570,70789272,36,"{'id': '70789272', 'title': 'Бардак', 'availab...",Бардак,Одда
45,1935,87292014,36,"{'id': '87292014', 'title': 'edamame', 'availa...",edamame,"bbno$, Rich Brian"
46,1034,45715330,36,"{'id': '45715330', 'title': 'Больше, чем BDSM'...","Больше, чем BDSM",FIZICA
47,1465,66496237,35,"{'id': '66496237', 'title': 'Не хочу', 'availa...",Не хочу,INSPACE
48,892,40326041,35,"{'id': '40326041', 'title': 'BDSM', 'available...",BDSM,FIZICA
49,910,40795764,35,"{'id': '40795764', 'title': 'Мёртвого крика', ...",Мёртвого крика,этажность
50,1296,60762414,34,"{'id': '60762414', 'title': 'РАССВЕТ', 'availa...",РАССВЕТ,Джизус
51,1490,66938788,33,"{'id': '66938788', 'title': 'Васильки', 'avail...",Васильки,Гости Гаррисона
52,720,34032181,32,"{'id': '34032181', 'title': 'Картонная', 'avai...",Картонная,Asper X
53,1665,73822066,32,"{'id': '73822066', 'title': 'Айседора', 'avail...",Айседора,VULPES VULT!
54,1933,87214315,30,"{'id': '87214315', 'title': 'Stoic', 'availabl...",Stoic,IVOXYGEN
55,1018,44337569,29,"{'id': '44337569', 'title': 'Твоему новому пар...",Твоему новому парню,Anacondaz
56,883,40249951,29,"{'id': '40249951', 'title': 'Blues', 'availabl...",Blues,Markul
57,947,42871975,29,"{'id': '42871975', 'title': 'Конан Дойл', 'ava...",Конан Дойл,DEEP-EX-SENSE
58,1781,79673758,29,"{'id': '79673758', 'title': 'Серотонин', 'avai...",Серотонин,МОЛОДОСТЬ ВНУТРИ
59,1259,59415643,28,"{'id': '59415643', 'title': 'А, подожди', 'ava...","А, подожди",ONEDAY